<h1>All Teams</h1>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>School</th>
      <th>Nickname</th>
      <th>Abbreviation</th>
      <th>home_url</th>
      <th>Arena</th>
      <th>logo_url</th>
      <th>Conference</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.id %></td>
        <td><%= link_to team.school, team %></td>
        <td><%= team.nickname %></td>
        <td><%= team.abbreviation %></td>
        <td><%= team.home_url %></td>
        <td><%= team.arena %></td>
        <td><%= team.logo_url %></td>
        <td><%= team.conference.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>