<h1><%= @team.school + " " + @team.nickname %></h1>
<%= image_tag @team.logo_url, size: 100 %>
<h3>Roster</h3>
<table>
  <thead>
    <tr>
      <td>#</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Position</td>
      <td>Height</td>
      <td>Weight</td>
      <td>Class</td>
      <td>Hometown</td>
      <td>ESPN ID</td>
    </tr>
  </thead>
  <tbody>
    <% @team.players.order(:number).each do |player| %>
    <tr>
      <td><%= player.number %></td>
      <td><%= player.first_name %></td>
      <td><%= player.last_name %></td>
      <td><%= player.position %></td>
      <td><%= player.height %></td>
      <td><%= player.weight %></td>
      <td><%= player.year %></td>
      <td><%= player.hometown %></td>
      <td><%= player.espn_id %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3>Schedule</h3>
<table>
  <thead>
    <tr>
      <th>ESPN ID</th>
      <th>Date</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Score</th>
      <th>Neutral?</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
    <tr>
      <td><%= game.espn_id %></td>
      <td><%= game.date %></td>
      <% if game.home_team %>
        <td><%= link_to game.home_team_name, game.home_team %></td>
      <% else %>
        <td><%= game.home_team_name %></td>
      <% end %>
      <% if game.away_team %>
        <td><%= link_to game.away_team_name, game.away_team %></td>
      <% else %>
        <td><%= game.away_team_name %></td>
      <% end %>
      <td><%= game.home_score.to_s + "-" + game.away_score.to_s %></td>
      <td><%= game.neutral %></td>
    </tr>
    <% end %>
  </tbody>
</table>