<h1>All Seasons</h1>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Start Year</th>
      <th>End Year</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>Regular Season End Date</th>
      <th>Championship Date</th>
    </tr>
  </thead>
  <tbody>
    <% @seasons.each do |season| %>
      <tr>
        <td><%= season.id %></td>
        <td><%= season.start_year %></td>
        <td><%= season.end_year %></td>
        <td><%= season.description %></td>
        <td><%= season.start_date %></td>
        <td><%= season.regular_season_end_date %></td>
        <td><%= season.championship_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>